h5py
imageio
isort
Keras
keras-rl
lazy-object-proxy
linecache2
matplotlib
mccabe
mock
numpy
olefile
pbr
Pillow
protobuf
pycodestyle
pyglet
pylint
PyOpenGL
pyparsing
python-dateutil
pytz
PyYAML
requests
gym==0.9.5
scipy
Shapely
singledispatch
subprocess32
tensorflow
Theano
traceback2
unittest2
